<!-- <h1>Just start typing!</h1>
<br>
  <p>BCKPCKR us built with a state of the art story editor. In Story mode, just press enter and press the "Plus"
    sign to add a photo. Press enter again to go to a paragraph. Highlight some text to
    make it bold or italics! Write stories aboiut your favorite hikes and travels.</p>
<%= image_tag('medium-editor.gif') %> -->
<label for="searchTextField">Please Insert an address:</label>
<br>
<input id="searchTextField" type="text" size="50">



<script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyAJaRDqIMsdNLeeQ0MQ-bob2D_QRuyvqi4"></script>
<script>
var input = document.getElementById('searchTextField');
var options = {
    componentRestrictions: {
        country: 'nz'
    }
};

var autocomplete = new google.maps.places.Autocomplete(input, options);

google.maps.event.addListener(autocomplete, 'place_changed', function () {

    var place = autocomplete.getPlace();
    var lat = place.geometry.location.lat();
    var long = place.geometry.location.lng();
    alert(lat + ", " + long);

});
</script>
