html {
  background-color: $white;
}

// $border-color: black;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: $white;
}

.side-padding-5 {
  padding: 0 5%;
}

.flex-container {
  display: flex;

  &.f-wrap {
    flex-wrap: wrap;
  }
}

.flex-space-btw {
  justify-content: space-between;
}
.fa
{
    color:blue;

    animation: colorchange1 50s;
    -webkit-animation: colorchange1 50s
}

nav.navbar #logo img {
    top: 3px;
    height: 40px;
}


nav.navbar .filter-links {
    margin-top: 16px;
    margin-left: 100;
    padding-left: 60px;
    font-weight: 800;

}
